$C1:rgb(108, 0, 112);
$C2:rgb(205, 0, 212);
$Grad:linear-gradient(90deg, $C1, $C2);

*{
    margin:0;padding:0;
    font-family:'Karla', sans-serif;
}

#root{
    position:absolute;
    top:0;
}

#TopBar{
    width:100vw;
    height:75px;
    background-image:$Grad;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    & p{
        color:white;
        font-size:18px;
    }
}

#Trollface{
    display:flex;
    flex-direction:row;
    align-items:center;
    & h1{
        font-size:40px;
        color:white;
    }
    & img{
        width:50px;
        height:50px;
    }
}

#PlrInput{
    width:600px;
    display:flex;
    flex-direction:row;
    gap:10px;
    margin-bottom:20px;
    margin-top:20px;
}

.TextInput{
    width:50%;
    height:40px;
    border-radius:8px;
}

#GetMeme{
    width:100%;
    background-image:$Grad;
    color:white;
    font-size:18px;
}

#MemeFrame{
    margin-top:30px;
    height:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.App{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.MemeTx{
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

#UpperText{
    position:absolute;
}

#LowerText{
    position:absolute;
    top:90%;
}